<header id="fh5co-header-section" role="header" class="" >
			<div class="container">

				<!-- <div id="fh5co-menu-logo"> -->
					<!-- START #fh5co-logo -->
					<h1 id="fh5co-logo" class="pull-left"><a href="/"><%= image_tag "logo.png" %></a></h1>

					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="active"><a href="/home/about">About Us</a></li>
							<li><a href="/concerts">경매</a></li>
							<li><a href="/posts">홍보게시판</a></li>
							<% if user_signed_in? %>
							<li><a href="/users/sign_out">로그아웃</a></li>
							<li><a href="/users/edit">정보수정</a></li>
							<% else %>
							<li><a href="/users/sign_in">로그인</a></li>
							<li class="fh5co-special"><a href="/users/sign_up">회원가입</a></li>
							<% end%>
						</ul>
					</nav>
				<!-- </div> -->

			</div>
		</header>


 
		<div id="fh5co-hero">
			<!-- End fh5co-arrow -->
			<div class="container">
				<div class="col-md-8 ">
					<div class="fh5co-hero-wrap"></div></div></div></div>

<h1>홍보하기</h1>

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
