// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (min-width: 768px) and (max-width: 991px) {
  .card-img-top.height-fix {
    width: auto;
    height: 100%;
  }
}


body {
  font-family: 'Noto Sans', sans-serif;
}
@font-face {
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: normal;
}

body, div, h1, form, fieldset, input, textarea {
	margin: 0; padding: 0; border: 0; outline: none;
}
html {
	height: 150%;
}
body {
	font-family: 'Noto Sans', sans-serif;
}
.cover{
	background:#CCC; width:700px; margin:auto; padding-left:60px;
}
h2.contact { padding-left: 125px; font-size: 40px; color: #ff5400; height: 105px; background: url(images/contact.png) no-repeat -10px -10px;  font-family: 'Noto Sans';}
p.contact { font-size: 24px; margin-bottom: 15px; line-height: 36px; font-family: 'Noto Sans'; color: #4b4b4b; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
#contact { margin-bottom: 0px; }
input[type="text"] { width: 400px; }
textarea { width: 600px; height: 275px; }
label { color: #ff5400; }
input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 5px solid rgba(145, 202, 221, 1); padding: 10px; font-family:'Noto Sans'; color: #4b4b4b; font-size: 24px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }
input:focus, textarea:focus { border: 5px solid #ff5400; background-color: rgba(255, 255, 255, 1); }

input[type="submit"] { border: none; cursor: pointer; color: #fff; font-size: 24px; background-color: #7ac000; padding: 5px 36px 8px 36px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); border-bottom: 1px solid rgba(0, 0, 0, 0.4); border-top: 1px solid rgba(255, 255, 255, 0.6);
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.23, #91cadd),
	    color-stop(0.62, #91cadd)
	);
	background: -moz-linear-gradient(
	    center bottom,
	    #619702 23%,
	    #7ac000 62%
	);
}

input[type="submit"]:hover { color: #97d0e1; border-bottom: 1px solid rgba(0, 0, 0, 0.4); background-color: #ff5400;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.23, #c34000),
	    color-stop(0.62, #ff5400)
	);
	background: -moz-linear-gradient(
	    center bottom,
	    #c34000 23%,
	    #ff5400 62%
	);
}
input[type="submit"]:active { top: 1px; }
